// Specific CSS for your home-page
// button wagon
.container-index {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 300%;
  background-color: (#0D0221);
  border-radius: 0%;
  // animation: bg-anim 15s infinite alternate;
}

.title-index {

  padding: 5px;
  border-radius: 20px;
  color: #FF6C11;
  position: relative;
  margin-bottom: 20px;
  top: -290px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 3px 3px 0px #0D0221;
}

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
//   border-radius: 0.50em;
// }

.btn-play {
  font-family: 'Press Start 2P', cursive;
  font-size: x-large;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: whitesmoke;
  border:#2DE2E6 0.125em solid;
  padding: 0.25em 1em;
  box-shadow: 0 0 0.5em 0 #2DE2E6, inset 0 0 0.5em #2DE2E6;
  position: relative;
  text-shadow: 2px 2px 0px #FF6C11;
}

.btn-play::before {
  content: '';
  position: absolute;
  background: #2DE2E6;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.3;
  transition: 1s linear;
}

.btn-play::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #2DE2E6;
  opacity: 0;
  background: #2DE2E6;
  z-index: -1;
  transition: opacity 2s linear;
}

.btn-play:hover {
  z-index: 1;
  text-decoration: none;
  color: whitesmoke;
  // text-shadow: 0px -50px 0px #FF6C11; !!!Animation +play qui monte au survol !!!
  transition: 1s;
}


.btn-play:hover::before {
  box-shadow: 0 0 2.5em 0.9em #2DE2E6;
  opacity: 1;
}
.btn-play:hover::after {
  box-shadow: 0 0 3em 1.2em #2DE2E6;
  opacity: 1;
}
// .wagon {
//   display: block;
//   text-align: center;
// }


@keyframes bg-anim {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}


//reflet

// .reflet {
//   margin-top: 19px;
//   font-size: 47px;
//   transform: rotateX(130deg);
//   background-clip: content-box;
//   color: rgb(0, 0, 0);
//   opacity: 0.3;
//   animation: reflect 15s infinite alternate;
// }
// @keyframes reflect {
//   from {
//     transform: rotateX(90deg);
//     opacity: 0;
//   }
//   to {
//     opacity: 0.3;
//     transform: rotateX(130deg);
//   }
// }

//soleil
@keyframes pulse {
  to {
    box-shadow: 0 0 7.5em 0 #FF3864;
  }
}
.sun {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 18em 5rem #FF6C11;
  top: -9px;
  animation: pulse 5s infinite alternate;
}

.sun1 {
  width: 100%;
  height: 40%;
  background: linear-gradient(#FF3864, #ff7360);
  margin-bottom: 5px;
  border-radius: 0%;
  box-shadow: 0 0 0.5em 0 #f54bde;
}
.sun2 {
  width: 100%;
  height: 4%;
  background: linear-gradient(#ff7855, #ff7d4f);
  margin-bottom: 7px;
  border-radius: 0%;
  box-shadow: 0 0 0.5em 0 #ff7855;
}
.sun3 {
  width: 100%;
  height: 5%;
  background: linear-gradient(#ff7a57, #ff7d50);
  margin-bottom: 10px;
  border-radius: 0%;
  box-shadow: 0 0 1.5em 0 #ff7824;
}
.sun4 {
  width: 100%;
  height: 8%;
  background: linear-gradient(#ff8639, #FF6C11);
  border-radius: 0%;
  margin-bottom: 16px;
  box-shadow: 0 0 2.5em 0 #ff7824;

}

.sun5{
  width: 100%;
  height: 8%;
  background: linear-gradient(#FF6C11, rgb(250, 136, 37));
  border-radius: 0%;
  margin-bottom: 16px;
  box-shadow: 0 0 2.5em 0 #ff7824;
}
.sun6{
  display: inline-block;
  width: 100%;
  height: 37px;
  background: linear-gradient(#FF6C11, #fb690e);
  border-radius: 0%;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 1.5em 0 #ff7824;
}

.sun6::before {
  content: '';
  position: absolute;
  background: #ff8a32;
  top: 177%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: perspective(1em) rotateX(10deg) scale(1, 2.35);
  filter: blur(1em);
  opacity: 0.3;
  transition: 1s linear;
}

