a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}
.container-show-games {
  display: flex;
  grid-template-columns: 1fr 1fr;
  min-width: 100vh;
  min-height: 100vh;
  grid-gap: 26px;
  position: relative;
  // background-image: url(classroom3.png);
  background-repeat: no-repeat;
}
.interface-actions {
  background-image: asset-url('interface-actions.png');
  width: 220px;
  height: 835px;
  position: absolute;
  top: 27px;
}
.game-interface {
  width: 1122px;
  height: 835px;
  position: absolute;
  top: 0px;
  left: 284px;
  background-image: asset-url('game-interface.png');
}
.button-rpg {
  width: 100%;
  height: 7%;
  background-image: asset-url('button.png');
  position: absolute;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
}
.time-change {
  top: 50%;
}
.btn-teacher {
  top: 75%;
}
.btn-buddy {
  top: 65%;
}
.skip-day {
  top: 85%;
}

.time {
  background-color: white;
  font-size: 20px;
  height: 12%;
  align-items: center;
  color: white;
  border-radius: 50%;
  width: 45%;
  position: absolute;
  top: 10%;
  left: 30%;
}

.table-infos {
  display: flex;
  position: relative;
  top: -70px;
  left: -5px;
  height: 40px;
}
.exercise-infos {
  color: black;
  font-family: 'Press Start 2P', cursive;
  margin-left: 5px;
  // margin-left: 5px;
}
.exercise {
  width: 40px;
}
.table-1 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 258px;
  left: 573px;
}
.table-2 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 258px;
  left: 685px;
}
.table-3 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 258px;
  left: 892px;
}
.table-4 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 258px;
  left: 1001px;
}
.table-5 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 402px;
  left: 573px;
}
.table-6 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 402px;
  left: 685px;
}
.table-7 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 402px;
  left: 892px;
}
.table-8 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 402px;
  left: 1001px;
}
.table-9 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 546px;
  left: 573px;
}
.table-10 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 546px;
  left: 685px;
}
.table-11 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 546px;
  left: 892px;
}
.table-12 {
  width: 100px;
  height: 85px;
  position: absolute;
  top: 546px;
  left: 1001px;
}
.student-1 {
  background-image: asset-url('charac1Face.png');
}
.student-2 {
  background-image: asset-url('charac2Face.png');
}
.student-3 {
  background-image: asset-url('charac3Face.png');
}
.student-4 {
  background-image: asset-url('charac4Face.png');
}
.student-5 {
  background-image: asset-url('charac5Face.png');
}
.student-6 {
  background-image: asset-url('charac6Face.png');
}
.student-7 {
  background-image: asset-url('charac7Face.png');
}
.student-8 {
  background-image: asset-url('charac8Face.png');
}
.student-9 {
  background-image: asset-url('charac9Face.png');
}
.student-10 {
  background-image: asset-url('charac10Face.png');
}
.student-11 {
  background-image: asset-url('charac11Face.png');
}
.student-12 {
  background-image: asset-url('charac12Face.png');
}


.students1 {
  background-image: asset-url('charac1Face.png');
}
.students2 {
  background-image: asset-url('charac2Face.png');
}
.students3 {
  background-image: asset-url('charac3Face.png');
}
.students4 {
  background-image: asset-url('charac4Face.png');
}
.students5 {
  background-image: asset-url('charac5Face.png');
}
.students6 {
  background-image: asset-url('charac6Face.png');
}
.students7 {
  background-image: asset-url('charac7Face.png');
}
.students8 {
  background-image: asset-url('charac8Face.png');
}
.students9 {
  background-image: asset-url('charac9Face.png');
}
.students10 {
  background-image: asset-url('charac10Face.png');
}
.students11 {
  background-image: asset-url('charac11Face.png');
}
.students12 {
  background-image: asset-url('charac12Face.png');
}




.studs{
  position: relative;
  top: -50px;
  left: 25px;
  width: 35px;
  height: 50px;
}

.le-wagon {
  background-image: asset-url(wagon);
  background-size: cover;
  width: 110px;
  height: 100px;
  position: absolute;
  top: 90%;
  left: -20%;
}
.students {
  background-size: cover;
  width: 35px;
  height: 50px;
  position: absolute;
  top: 837px;
  left: 792px;
  // background-color: black;

}
.no-display {
  display: none;
}
.background-remove {
  background-image: none;
}

.main-character {
  background-image: asset-url('charac0Face.png');
  top: 122px;
  left: 804px;
}
.character {
  position: absolute;
  width: 35px;
  height: 50px;
  object-fit: contain;
}
.life-remaining {
  height: 23px;
  width: 25px;
  position: relative;
  top: -125px;
  left: 30px;
}
.box-text-interface {
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-align: center;
  background: white;
  position: absolute;
  border-radius: 2px;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}
.current-day-infos {
  left: 16%;
  top: 5%;
  width: 69%;
}
.current-hour-infos {
  top: 25%;
  left: 37%;
  width: 30%;
}
.score {
  height: 4%;
  width: 88%;
  top: 35%;
  padding: 5px;
  left: 6%;
}
.star {
  background-image: asset-url('star.png');
  width: 25px;
  height: 25px;
  position: absolute;
}
.star-final {
  // background-image: url(star.png);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 27%;
  left: 11%;
}
.star-1 {
  top: 20%;
  left: 42%;
}
.star-2 {
  top: 20%;
  left: 49.5%;
}
.star-3 {
  top: 20%;
  left: 64%;
}
.star-4 {
  top: 20%;
  left: 71.5%;
}
.star-5 {
  top: 36%;
  left: 42%;
}
.star-6 {
  top: 36%;
  left: 49.5%;
}
.star-7 {
  top: 36%;
  left: 64%;
}
.star-8 {
  top: 36%;
  left: 71.5%;
}
.star-9 {
  top: 52%;
  left: 42%;
}
.star-10 {
  top: 52%;
  left: 49.5%;
}
.star-11 {
  top: 52%;
  left: 64%;
}
.star-12 {
  top: 52%;
  left: 71.5%;
}
