<div class="banner-index" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.frenchtechbordeaux.com/wp-content/uploads/2019/01/le-wagon-color.png);">
  <div class="container-index">
    <h1><strong>Le Wagon Simulator handle your's noobs students</strong>!</h1>
      <p>
        A vous d’aider votre batch à bien gérer son temps !
        Décidez qui doit aider son buddy, gérez judicieusement vos atouts...
        Aide du Tea-cher, Café corsé, Reboot, etc.
        ...n'oubliez pas les vies de vos élèves sont entre vos mains! Become a god !
      </p>
    <a class="btn btn-flat" href="#">Puts your avatar</a>
  </div>
</div>
