.container-score {
  background-color: #0D0221 ;
  margin: 5px 80px;
}

.score-table {
  margin-top: 40px;
  box-shadow: 3px 3px 3px 0 #f706cf;
  border: 3px solid #2DE2E6;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.score-table h1,h2,h3,h4 {
  font-family: 'Press Start 2P', cursive;
  margin: 0 auto 0 auto;
  text-align:left;position:relative;
  font-weight:400;
    color:#fff;
  text-shadow: 3px 3px 0px #110136;
}

.score-table h1 {
  color:#fff;
  text-shadow: 3px 3px 0px #110136;
}
.score-table h2 {
  color:#fff;
  // text-shadow: 3px 3px 0px #FF6C11;
}
.score-table h3 {
  color:#fff;
  // text-shadow: 3px 3px 0px #FF6C11;
}

.score-table h4 {
  color:#fff;
  // text-shadow: 3px 3px 0px #FF6C11;
}

.score-table .btn-game {
  margin: 0px;
  color:#fff;
  text-shadow: 3px 3px 0px #110136;
}



.next-button {
  font-family: 'Press Start 2P', cursive;
  color: white;
  border: solid #ffffff 3px;
  background-color: rgb(15, 138, 15);
  // box-shadow: 0 0 12px;
  padding: 30px 30px;
  font-size: x-large;
  font-weight: 900;
  border-radius: 1px;
  // transition: transform 0.3s ease;
}


.next-button :hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(248, 245, 245, 0.7);
}
.btn-to-leaderboard {
  left: -65%;
}
.btn-change-show {
  left: 65%;
}
