.table {
  height: 130px;
  width: 130px;
  background-image: url(desk.png);
  background-size: contain;
  border: 0.5px solid;
  position: relative;
}

.row-left {
  display: inline-block;
  position: left;
}

.row-right {
  display: inline-block;
  position: right;
}

.buddy-table {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 80px;
}
.list-group-item {
  padding: 0px;
  background-color: transparent;
}
.text-table {
  position: absolute;
  bottom: 25px;
  width: 100%;


}